<!-- <span class="title">View All</span> -->
<div class="card">
  <p-table
    styleClass="p-datatable"
    [columns]="selectedColumns"
    [value]="carrierRates"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5"
    selectionMode="single"
    [(selection)]="selectedProduct"
  >
    <ng-template pTemplate="caption">
      <p-multiSelect
        display="chip"
        [options]="columns"
        [(ngModel)]="selectedColumns"
        optionLabel="header"
        selectedItemsLabel="{0} columns selected"
        placeholder="Choose Columns"
      />
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{
            ["carrier", "charge", "currency"].includes(col.field)
              ? rowData[col.field].name
              : rowData[col.field]
          }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
