@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://unpkg.com/nice-forms.css@0.1.7/dist/nice-forms.css');
@import '../../../../assets/css/form-styles.css';

p-stepper>div>ul {
    padding-left: 0;
}

ul {
    padding-right: 32px !important;
}

.stepper-custom {
    padding: 0;
}

.title {
    background-color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d6efd;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 auto;
    max-width: 26.5em;
    box-shadow: inset 0 15px 20px 3px rgba(255, 255, 255, 0.2), inset 0 4px 6px -2px rgba(255, 255, 255, 0.2);

}

@media only screen and (min-width: 750px) {
    .demo-page .demo-page-content {
        width: 100% !important;
        justify-content: center !important;
    }
}

.invalid-input {
    background-color: var(--nf-invalid-input-background-color) !important;
    border-bottom-color: var(--nf-valid-input-border-color) !important;
    border-color: var(--nf-valid-input-border-color) var(--nf-valid-input-border-color) var(--nf-invalid-input-border-bottom-color) !important;
    color: var(--nf-invalid-input-color) !important;
}