<div class="col">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <div class="row">
    <div class="col-3 bg-light">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- <div>
  <div class="flex flex-row">
    <app-navbar ngSkipHydration></app-navbar>
    <div style="width: fit-content">
      <app-sidebar></app-sidebar>
    </div>
  </div>
  <div>
    <router-outlet />
  </div>
</div> -->
<!-- 
<div>
  <div class="flex flex-row">
    <div class="col-3">Left</div>
    <div class="col-6">Middle</div>
    <div class="col-3">Right</div>
  </div>
</div> -->
