<div class="demo-page">
  <main class="demo-page-content">
    <section>
      <div class="card-row">
        <div class="card-label">Carrier Rate ID</div>
        <div class="card-value">{{ data.carrierRateID }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">Carrier</div>
        <div class="card-value">{{ data.carrier.name }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">Charge</div>
        <div class="card-value">{{ data.charge.name }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">Currency</div>
        <div class="card-value">{{ data.currency.name }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">Unit</div>
        <div class="card-value">{{ data.unit }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">Measurement Type</div>
        <div class="card-value">{{ data.measurementType }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">Origin</div>
        <div class="card-value">{{ data.origin }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">Destination</div>
        <div class="card-value">{{ data.destination }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">FDC Sector</div>
        <div class="card-value">{{ data.fDCSector }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">First Effective From Date</div>
        <div class="card-value">{{ data.firstEffectiveFromDate | date }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">FEFD Amount</div>
        <div class="card-value">{{ data.fEFD_Amount }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">FEFD Minimum Amount</div>
        <div class="card-value">{{ data.fEFD_MinimumAmount }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">Second Effective From Date</div>
        <div class="card-value">{{ data.secondEffectiveFromDate | date }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">SEFD Amount</div>
        <div class="card-value">{{ data.sEFD_Amount }}</div>
      </div>
    </section>
    <section>
      <div class="card-row">
        <div class="card-label">SEFD Minimum Amount</div>
        <div class="card-value">{{ data.sEFD_MinimumAmount }}</div>
      </div>
    </section>
  </main>
</div>
