@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://unpkg.com/nice-forms.css@0.1.7/dist/nice-forms.css');
@import '../../../../assets/css/form-styles.css';

.demo-page {
    font-size: medium !important;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #ccc; */
}

.card-label {
    font-weight: bold;
    color: #333;
}

.card-value {
    color: #555;
}

@media screen and (max-width: 600px) {
    .card-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .card-value {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 750px) {
    .demo-page .demo-page-content {
        width: 100% !important;
        justify-content: center !important;
    }
}