/* You can add global styles to this file,
and also import other style files  */
@layer base, primeng, app;
@import 'primeng/resources/primeng.css';
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeflex/primeflex.css';
@import 'assets/css/bootstrap.css';

body {
    padding-top: 3rem;
    background-color: #f9fafb;
}

* {
    font-family: "Inter var", sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
}

.router-link-active {
    color: var(--primary-color) !important;
}

.p-tabview-nav-btn {
    box-shadow: 0px 0px 10px 50px rgba(255, 255, 255, 0.6);
}

.p-tabview-panels {
    padding-bottom: 0 !important;
    max-height: 76vh;
    min-height: 76vh;
    overflow: scroll;
    overflow-x: hidden;
}